.ownerMessage {
  align-self: flex-end;
  background-color: green;
  border-radius: 15% 15% 0% 15%;
}

.comingMessage {
  align-self: flex-start;
  background-color: grey;
  border-radius: 15% 15% 15% 0%;
}

.basicMessage {
  padding: 4px 8px;
}

.messageRoot {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
