.ownerMessage {
  align-self: flex-end;
  background-color: green;
  border-radius: 50% 50% 0% 50%;
  position: relative;
}

.ownerMessage:before {
  content: '';
  position: absolute;
  top: 37px;
  left: calc(100% - 25px);
  height: 30px;
  width: 30px;
  border-top-right-radius: 50%;
  box-shadow: 0 -10px 0 0 green;
}

.comingMessage {
  align-self: flex-start;
  background-color: grey;
  position: relative;
  border-radius: 50% 50% 50% 0%;
}

.comingMessage:before {
  content: '';
  position: absolute;
  top: 37px;
  left: -5px;
  height: 30px;
  width: 30px;
  border-top-left-radius: 50%;
  box-shadow: 0 -10px 0 0 grey;
}

.basicMessage {
  padding: 10px 20px;
}

.messageRoot {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-content: flex-end;
}
